body {
    margin: 1rem;
    color:rgb(29, 36, 77);
    font: 300 100%/1.5 'Work Sans', sans-serif;
}

header {
    height: 50px;
    background-blend-mode: multiply;
    padding: 2vh 1rem;
    margin: -1rem -1rem 1rem;
}

main {
    text-align: center;
}


#nav-position {
    position: fixed;
    top: 1rem;
    left: 1.5rem;
    letter-spacing: 1px;
    z-index: 1;
}

.tabs {
    list-style-type: none;
    display: inline-block;
    margin: 10px 16px 10px 16px;
    letter-spacing: .25rem;
    font-weight: bold;
}

.tabs:link {
    color: white;
}

.tabs:visited {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(29, 36, 77);
    font-size: 1.25rem;
    text-transform: uppercase;
}

a:hover {
    color: rgb(248, 206, 19);
}

h1, h2, h3 {
    text-transform: uppercase;
    line-height: 1.1;
}

h1 {
        background:rgb(248, 206, 19);
        width: 15%;
        height: 23px;
        border-radius: 3px;
        margin: auto;
}

h2 {
    color: white;
}

img {
    position: absolute;
    top: 1rem;
    right: 1rem;
    filter: invert(1);
    max-height: 250px;
    max-width: 95%;
}

form {
    width: 40%;
    position: relative;
    margin: auto;
}

fieldset {
    text-align: center;
    padding: 5px;
    border: transparent;
    border-radius: 10px;
    margin: 50px;
    background-color:rgb(98, 167, 223);
    box-shadow: 0 0 8px 2px rgb(104, 104, 104);
}

input {
    border: solid rgb(223, 223, 223);
    border-radius: 4px;
}

.inputs {
    margin: 8px auto;
}

textarea {
    height: 100px;
    width: 90%;
    border: solid rgb(223, 223, 223);
}

footer {
    font-size: x-small;
    border-top: 1px dotted darkgray;
    margin-top: 20px;
}